body {
	background: black;
	font-family: mononokiRegular;
}
h1, h3 {
	color: white;
}
h3 {
	text-align: right;
}
h4 {
	color: red;
	margin-top: 10px;
}
img {
	width: 100%;
	height: auto;
	max-width: 25vw;
}

.jumbotron {
	padding: .25rem 1rem;
	text-align: center;
	margin-bottom: 25px;
}
.centerMe {
	text-align: center;
}
.btn-hand {
	padding: 1rem .5rem;
}
.scores {
	font-size: 1.5rem;
}

#two-player, #vs-cpu, #separate-score, #shared-score  {
	padding: 35px;	
	margin: 2px auto;
}
#start-button {
	font-size: 2rem;
}
.bigger-text {
	font-size: 2.4rem;
	font-weight: bold;
}