body {
	background: black;
	font-family: mononokiRegular;
}
h1, h3 {
	color: white;
}
h3 {
	text-align: right;
}
h4 {
	color: red;
	margin-top: 10px;
}
img {
	width: 100%;
	height: auto;
	max-width: 15vw;
}

.jumbotron {
	padding: .25rem 1rem;
	text-align: center;
	margin-bottom: 10px;
}
.centerMe {
	text-align: center;
}
.btn-hand {
	padding: 1rem .5rem;
}
.scores {
	font-size: 1.5rem;
}
.bigger-text {
	font-size: 2.4rem;
	font-weight: bold;
}
.btn-secondary:not([disabled]):not(.disabled).active, .btn-secondary:not([disabled]):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
	box-shadow: 0 0 0 0.5rem rgba(134,142,150,.5);
}

#two-player, #vs-cpu, #separate-score, #shared-score  {
	padding: 35px;	
	margin: 10px auto;
}
#start-button {
	font-size: 2rem;
}

@keyframes shake {
    0% { transform: translate(2px, 2px) rotate(0deg); }
    10% { transform: translate(-1px, -3px) rotate(-1deg); }
    20% { transform: translate(-4px, 0px) rotate(1deg); }
    30% { transform: translate(4px, 3px) rotate(0deg); }
    40% { transform: translate(2px, -2px) rotate(1deg); }
    50% { transform: translate(-2px, 3px) rotate(-1deg); }
    60% { transform: translate(-4px, 2px) rotate(0deg); }
    70% { transform: translate(4px, 2px) rotate(-1deg); }
    80% { transform: translate(-2px, -2px) rotate(1deg); }
    90% { transform: translate(2px, 3px) rotate(0deg); }
    100% { transform: translate(2px, -3px) rotate(-1deg); }
}