body {
	background: black;
	font-family: mononokiRegular;
}
h1, h3 {
	color: white;
}
h3 {
	text-align: right;
}
h4 {
	color: red;
	margin-top: 10px;
}
img {
	width: 100%;
	height: auto;
	max-width: 15vw;
}
h1:hover, h3:hover {
	color: #FFDC00;
}

.jumbotron {
	padding: .25rem 1rem;
	text-align: center;
	margin-bottom: 2vh;
}
.centerMe {
	text-align: center;
}
.btn-hand {
	padding: 1rem .5rem;
	margin-bottom: 1vh;
}
.scores {
	font-size: 1.5rem;
}
.bigger-text {
	font-size: 2.5rem;
	margin-bottom: 1vh;
}
.btn-secondary:not([disabled]):not(.disabled).active, .btn-secondary:not([disabled]):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
	box-shadow: 0 0 0 0.5rem rgba(134,142,150,.5);
}
.player-two {
	margin-bottom: 0vh;
}

#two-player, #vs-cpu, #separate-score, #shared-score  {
	padding: 35px;	
	margin: 10px auto;
}
#start-button {
	font-size: 2rem;
}

@keyframes upDown {
    0% { transform: translate(0px, -10px) rotate(0deg); }
    10% { transform: translate(0px, -5px) rotate(1deg); }
    20% { transform: translate(0px, 0px) rotate(2deg); }
    30% { transform: translate(0px, 5px) rotate(3deg); }
    40% { transform: translate(0px, 10px) rotate(4deg); }
    50% { transform: translate(0px, 15px) rotate(5deg); }
    60% { transform: translate(0px, 20px) rotate(4deg); }
    70% { transform: translate(0px, 15px) rotate(3deg); }
    80% { transform: translate(0px, 10px) rotate(2deg); }
    90% { transform: translate(0px, 5px) rotate(1deg); }
    100% { transform: translate(0px, 0px) rotate(0deg); }
}